body {
  margin: 0;
  padding: 0;

  font-size: 16px;
  line-height: 18px;
  font-family: "Roboto", Arial, sans-serif;
}

/*фоны для сетки*/

.body-index {
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 1200px auto;
}

.body-catalog {
  background-color: #849d8f;

/*background-image: url("../img/gllacy-catalog-1200.jpg");*/
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 1200px auto;
}

.cat-wrapper {
  min-width: 1200px;
  margin: 0 auto;
}

/*слайдеры*/

.site-wrapper {
  min-width: 1200px;
  margin: 0 auto;

  background-color: #849d8f;
  background-image: url("../img/slider-1.png");
  background-repeat: no-repeat;
  background-position: top center;

  -webkit-transition: background-image 0.5s ease, background-color 0.5s ease;

  transition: background-image 0.5s ease, background-color 0.5s ease;
}

.site-wrapper::before,
.site-wrapper::after {
  content: "";

  visibility: hidden;
}

.site-wrapper::before {
  background-image: url("../img/slider-2.png");
}

.site-wrapper::after {
  background-image: url("../img/slider-3.png");
}

.slides-container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.slider-item {

  text-align: center;
}
.slider {
  position: relative;

  padding-top: 280px;

  text-align: center;
  color: #ffffff;
}

.slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slide {
  display: none;
}


.slide-title {

  width: 700px;
margin: 0 auto;
margin-bottom: 31px;
margin-top: -3px;
  font-weight: 700;
  font-size: 61px;
  line-height: 60.35px;
}


.button {
  display: inline-block;
  padding: 12px 44px;

  font-weight: 600;
  font-size: 31px;
  line-height: 41px;
  vertical-align: top;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  background: #f26843;
  background: -webkit-gradient(linear, left top, left bottom, from(#f26843), to(#e74a35));
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border: none;
  border-radius: 50px;
  -webkit-box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
          box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  cursor: pointer;
}

.button:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#f58669), to(#ec6f5e));
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  -webkit-box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
          box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.button:active {
  background: -webkit-gradient(linear, left top, left bottom, from(#d84732), to(#e1613e));
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  -webkit-box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
          box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.slider-controls {
  position: absolute;
  bottom: 25px;
  left: 0;
  z-index: 20;

  padding-left: 27px;

  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;

  vertical-align: top;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

#product-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/slider-1.png");
}

#product-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/slider-2.png");
}

#product-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/slider-3.png");
}

#product-1:checked ~ .site-wrapper #slide1,
#product-2:checked ~ .site-wrapper #slide2,
#product-3:checked ~ .site-wrapper #slide3 {
  display: block;
}

#product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"] {
  background-color: #ffffff;
}

/*конец слайдеров*/

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  border: 0;

  clip: rect(0 0 0 0);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.default-a {
  font-weight: 700;
  color: #ffffff;

  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  ;
}

.default-a:hover,
.default-a:active {
  color: #ffbc9e;
}

.catalog-list-item .default-a:hover,
.catalog-list-item .default-a:active {
  color: #ffffff;
}

.site-navigation,
.nav-catalog {
  list-style: none;
}

.footer-social-btns,
.footer-links-list {
  list-style: none;
}

.page-footer {
  font-weight: normal;
  font-size: 13px;
}

.for-suppliers {
  font-weight: 700;
}

.map {
  position: relative;

  width: auto;
  background-color: #f7f1d9;
  background-image: url("../img/map-with-pin.png");
  background-repeat: no-repeat;
  background-position: center center;
}

.adress {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  color: #333333;

  background-color: #ffffff;
  border-radius: 5px;
}

.default-button {
  display: inline-block;
  vertical-align: baseline;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  font-family: "Roboto", Arial, sans-serif;
  vertical-align: top;
  text-align: center;
  color: #ffffff;
  white-space: pre;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  background-image: -webkit-linear-gradient( 90deg, rgb(202, 56, 36) 0%, rgb(242, 104, 67) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(202, 56, 36) 0%, rgb(242, 104, 67) 100%);
background-image: -moz-linear-gradient( 90deg, rgb(202, 56, 36) 0%, rgb(242, 104, 67) 100%);
  border: none;
  border-radius: 50px;
  -webkit-box-shadow: 0 2px 2px 0 rgba(85, 8, 0, 0.54);
          box-shadow: 0 2px 2px 0 rgba(85, 8, 0, 0.54);
  cursor: pointer;
  opacity: 0.988;
}

.default-button:hover {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  font-family: "Roboto", Arial, sans-serif;
  color: #fefefe;
  background-image: -moz-linear-gradient( 90deg, rgb(231, 74, 53) 0%, rgb(242, 104, 67) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(231, 74, 53) 0%, rgb(242, 104, 67) 100%);
  background-image:     -ms-linear-gradient( 90deg, rgb(231, 74, 53) 0%, rgb(242, 104, 67) 100%);
  -webkit-box-shadow: 0 1px 2px 0 rgba(172, 16, 0, 0.004);
          box-shadow: 0 1px 2px 0 rgba(172, 16, 0, 0.004);
}

.default-button:active {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  font-family: "Roboto", Arial, sans-serif;
  color: #fceeec;
  background-image:     -ms-linear-gradient( 90deg, rgb(242, 104, 67) 0%, rgb(231, 74, 53) 100%);
  background-image: -moz-linear-gradient( 90deg, rgb(242, 104, 67) 0%, rgb(231, 74, 53) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(242, 104, 67) 0%, rgb(231, 74, 53) 100%);
  -webkit-box-shadow: inset 0 2px 2px 0 rgba(148, 39, 24, 0.004);
          box-shadow: inset 0 2px 2px 0 rgba(148, 39, 24, 0.004);
}

a.header-button {
  padding: 7px 12px 7px 12px;

  vertical-align: top;

  border: 0;
  border-radius: 25px;
  cursor: pointer;
}

a.header-button:hover {
  color: #333333;

  background-color: rgb(247, 246, 243);
}

a.header-button:active {
  color: #333333;

  background-color: rgba(248, 247, 244, 0.988);
  -webkit-box-shadow: inset 0 2px 1px 0 rgba(105, 105, 105, 0.004);
          box-shadow: inset 0 2px 1px 0 rgba(105, 105, 105, 0.004);
}

.header-options-btn,
.header-options-btn:hover {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.header-options-btn {
  font-weight: 500;
  color: #ffffff;

  background-color: rgba(255, 255, 255, 0.2);
}

.header-options-btn:hover {
  color: #323232;

  background-color: rgb(248, 247, 244);
}

.bonus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1200px;
  margin: 0 auto;
  margin-top: 80px;

  font-weight: 700;
  color: #ffffff;
}

.bonus-item {
  position: relative;

  width: 560px;

  border-radius: 20px;
}

.bonus-item:nth-child(2) {
  background-color: #a03472;
  background-image: url("../img/raspberry-back.jpg");
  background-repeat: no-repeat;
  background-size: cover;

}

.bonus-item:nth-child(3) {
  background-color: #391f12;
  background-image: url("../img/choko-back.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.bonus-item b {
  font-size: 35px;
  line-height: 41px;
}

.bonus-item p {
  font-size: 18px;
  line-height: 22px;

}

/*выровнять позиционирование!*/

.bonus-item-btn,
.bonus-item-btn:hover,
.bonus-item-btn:active {
  position: absolute;
  right: 22px;
  bottom: 18px;

  font-size: 18px;
  line-height: 24px;
}

.catalog-list-item:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  -webkit-box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.catalog-list-item-price-number {
  font-weight: 700;
  font-size: 45px;
  line-height: 45px;
  color: #ffffff;
}

.catalog-list-item-price-unit {
  font-weight: 700;
  font-size: 30px;
  line-height: 45px;
  color: #ffffff;
  position: relative;
  display: inline-block;
  vertical-align: baseline;
  margin-left: 36px;
}
.catalog-list-item-price-unit::before {
  content: "";
  position: absolute;
  top: 0px;
  left: -33px;
  display: block;
  width: 31px;
  height: 36px;
  background-image: url("../img/ruble.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 31px 36px;
  -webkit-filter: drop-shadow(0 1px 3px rgba(0, 0, 0, 0.5));
  filter: drop-shadow(0 1px 3px rgba(0, 0, 0, 0.5));
}

.catalog-list-item a {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
}

.catalog-list-item-btn a,
.catalog-list-item-btn a:hover,
.catalog-list-item-btn a:focus {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.footer-maker,
.footer-maker a {
  font-weight: 400;
  color: #ffffff;
}

.footer-maker {
  width: 220px;
  padding-top: 18px;
  padding-right: 0;
  padding-left: 10px;
}

.footer-maker img {
  padding-left: 7px;
}

.footer-maker p {
  margin: 0;
  padding: 0;
}

.footer-links-item {
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
}

.features {
  width: 1200px;
  min-height: 280px;
  margin: 0 auto;
  margin-top: -10px;
  margin-bottom: 40px;
  padding: 0;
}

.features-container {
  min-height: 280px;
  margin-right: 27px;
  margin-left: 27px;
  padding-top: 26px;
  padding-left: 18px;

  color: #333333;
background-color: #eee1c9;
  background-image: url("../img/waffle.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
}

.features b {
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0.08px;
}

.feature-item {
  position: relative;

  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

.feature-item:before {
  content: "";
  position: absolute;
  top: -13px;
  left: -53px;

  width: 49px;
  height: 49px;
}

.icecream:before {
  background-image: url(../img/ice-cream.svg);
}

.eco:before {
  background-image: url(../img/eco.svg);
}

.cow:before {
  background-image: url(../img/cow.svg);
}

.thermo:before {
  background-image: url(../img/thermometer.svg);
}

.feature-item:nth-child(2n+1) {
  margin-bottom: 25px;
}

.feature-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: 20px;
  margin-right: 24px;
  margin-left: 16px;

  list-style: none;
}

.left-features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 485px;
  margin-right: 86px;
}

.right-features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 485px;
}
.left-ul,
.right-ul {
  margin: 0;
  padding: 0;

  list-style: none;
}
.blog {
  width: 560px;
  margin-left: 29px;
  padding-top: 8px;
  padding-left: 20px;

  color: #333333;
background-color: white;
  background-image: url("../img/strawberry-back.jpg");
  background-repeat: no-repeat;
  border-radius: 10px;
}

.blog p {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
}

.blog h1 {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #333333;
  text-decoration: underline;
}

.news-distrib {
  width: 568px;
  margin-right: 27px;
  margin-left: 30px;
  padding: 7px;

  background-image: url("../img/bg-post.svg");
  background-repeat: no-repeat;
  border-radius: 10px;
}

.news-distrib-inner {
  min-height: 185px;
  padding: 10px 18px;

  color: #5a5a5a;

  background-color: #f8f7f4;
  background-size: cover;
  border-radius: 10px;
  /*этот размер подогнать*/
}

.news-distrib p {
  display: block;

  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

.news-inner-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 36px;
}

.news-inner-form input[type="email"] {
  min-width: 350px;
  margin-right: 3px;
  padding-left: 10px;
  padding-top:4px;
}

.news-inner-form input[type="email"]:hover {
}

.news-inner-form input[type="submit"] {
  position: relative;
  left: 6px;

  width: 130px;
  height: 45px;

  font-size: 18px;
  line-height: 22px;
  color: white;
  white-space: nowrap;
}

.news-form,
.news-form:hover,
.news-form:active {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.adress p {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.adress .map-adress-text {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.adress .map-phone a {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #333333;
}

.open-feedback,
.open-feedback:hover,
.open-feedback:active {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.page-counter {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.catalog-path {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}

.catalog-path a {
  font-weight: 400;
}

.header-options-time {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}

a.header-options-phone {
  font-weight: 700;
  font-size: 22px;
  line-height: 24px;
  color: #ffffff;
}

.catalog-header {
  font-weight: 700;
  font-size: 35px;
  line-height: 41px;
  color: #ffffff;
}

.filter {
  color: #ffffff;
}

.filter-label {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.sorting option {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;

  background-color: rgba(255, 255, 255, 0.2);
}

.fat label {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
}

.filler label {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
}




.default-input {
  outline: none;
  border-width: 0px;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  padding: 0 10px;
  -webkit-box-shadow: inset 0 0 0 1px rgba(178, 178, 178, 0.52);
  box-shadow: inset 0 0 0 1px rgba(178, 178, 178, 0.52);
}

.default-input:hover {
  border-width: 0px;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 0 2px rgba(154, 154, 154, 0.52);
  box-shadow: inset 0 0 0 2px rgba(154, 154, 154, 0.52);
}

.default-input:focus {
  border-width: 0px;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 0 2px rgba(46, 136, 228, 0.52);
  box-shadow: inset 0 0 0 2px rgba(46, 136, 228, 0.52);
}

.basket-content {
  background-color: rgb(248, 247, 244);
  border-radius: 5px;
  -webkit-box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.basket-item {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #323232;
}

.basket-price {
  color: #999999;
}

.total-price {
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  color: #323232;
}

.nav-catalog {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #323232;

  background-color: rgb(248, 247, 244);
  border-radius: 5px;
  -webkit-box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.nav-catalog-top {
  font-weight: 700;

  border-bottom: 1px solid #d1d0ce;
}

.nav-catalog li {
  color: #323232;
}

.nav-catalog li:hover {
  color: #323232;
border-radius: 5px;
  background-color: #fbded7;
}


.nav-catalog li:active {
  color: #323232;
border-radius: 5px;
  background-color: #f6b5a5;
}

.site-navigation {
  margin: 0;
  padding: 0;
}

.current-container a {
  margin: 0 3px 0 1px;
  padding: 7px 12px 6px 14px;

  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  font-family: "Roboto", Arial, sans-serif;
  vertical-align: top;
  color: #ffffff;

/*класс для "Находимся на странице" в выпадающем меню каталога*/

  background-color: #d07058;
  background-color: #d07058;
  border: 0;
  border-radius: 25px;
  cursor: pointer;
}
.nav-catalog-current {
  background-color: #d07058;
}
.header-button-current {
  color: #ffffff;

/*класс для "Находимся на странице" в верхнем меню*/

  background-color: rgb(208, 112, 88);
}

.header-button {
  white-space: pre;
}

.feedback {
  background-color: rgb(248, 247, 244);
  border-radius: 10px;
}

.feedback b {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #323232;
}

.feedback-button,
.feedback-button:hover,
.feedback-button:active {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

/*фильтры*/

.filter-row fieldset {
  border: none;
}
.sorting-options::-ms-expand {
 /* IE 8 */
 -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
 /* IE 5-7 */
 filter: alpha(opacity=0);
 /* Good browsers :) */
 opacity:0;
}
.sorting-options {
  width: 195px;
  height: 37px;
  padding: 0 15px;

  font-weight: 700;
  color: #ffffff;

  background-color: rgba(255, 255, 255, 0.2);
  background-image: url("../img/select-arrow.svg");
  background-repeat: no-repeat;
  background-position: 166px center;
  background-size: 12px 12px;
  border: none;
  border-radius: 40px;

  -webkit-appearance: none;
     -moz-appearance: none;
     -ms-appearance: none;
          appearance: none;
}

.sorting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 0;
  padding-top: 4px;
  padding-left: 25px;
}


.sorting-options optgroup {
  color: #ffffff;

  background-color: rgba(255, 255, 255, 0.2);
}
.sorting-options option {
  color: #333333;
font-weight: 700;
  background-color: rgba(255, 255, 255, 0.2);
}

.sorting-options:hover option {
  font-weight: 700;
  color: #333333;

  background-color: rgba(255, 255, 255, 0.2);
}

.sorting-options:hover {
  font-weight: 700;
  color: #333333;

  background-color: rgba(255, 255, 255, 0.2);
  background-image: url("../img/select-arrow-dark.svg");
}

.filter-label {
  display: block;
  margin-bottom: 3px;
  padding-left: 14px;
}

.price {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
          flex-direction: column;
  height: 66px;
  width: 257px;
  padding: 0;
  margin-left: 16px;
  margin-top: 0;
}

.price-value {
  display: block;
  padding-top: 2px;
  padding-left: 12px;
  width: 233px;
margin-bottom: 6px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;

}

.range {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 180px;
  height: 25px;
  margin: 0;

  margin-right: 17px;
  margin-left: -2px;
  padding: 5px 15px;
  padding-top: 6px;
  padding-left: 23px;

  background: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 40px;
}

.scale {
  width: 100%;
  height: 4px;

  background: rgba(248, 247, 244, 0.5);
}

.bar {
  height: 4px;
  margin-right: 60px;
  margin-left: 20px;

  background: rgba(248, 247, 244, 1);
}

.toggle {
  position: absolute;
  top: 10px;

  -webkit-box-sizing: content-box;

          box-sizing: content-box;
  width: 4px;
  height: 4px;
  padding: 0;

  background-color: #ababab;
  border: 8px solid white;
  border-radius: 50px;
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.1);
}

.toggle-min {
  left: 35px;
}

.toggle-max {
  right: 65px;
}

.fat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 416px;
  height: 66px;
  margin: 0;
  padding: 0;
}

.fat .label-row {
  display: block;
  margin: 0;
  margin-top: -11px;
  margin-left: -10px;
  padding: 0;
  margin-bottom: 5px;
}

.fat .value-row {
  position: relative;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  min-height: 27px;
  margin: 0;

  margin-left: -13px;
  padding: 0 15px;
  padding-top: 6px;
  padding-bottom: 3px;

  background: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 40px;
}

.fat-label {
  position: relative;

  display: inline-block;
  margin-top: 5px;
  margin-right: 50px;
vertical-align: center;
  white-space: nowrap;
}

.fat-input {
  display: none;
}

.first-label {
  margin-left: 28px;
}

.last-label {
  margin-right: 0;
}

.fat-input + .fat-label::before {
  content: "";
  position: absolute;
  top: -4px;
  left: -30px;

  display: inline-block;
  width: 22px;
  height: 22px;
vertical-align: baseline;
  background-image: url("../img/radio-off.svg");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 22px 22px;
  opacity: 0.8;
}

.fat-input:checked + .fat-label::before {
  background-image: url("../img/radio-on.svg");
}
.fat-input + .fat-label:hover::before {
  opacity: 1;
}

.fat-input:disabled + .fat-label:hover::before {
  opacity: 1;
}
.filler {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 700px;
  height: 66px;
  margin: 0;
  margin-left: 40px;
  margin-top: 5px;
  padding: 0;
}

.filler .label-row {
  margin: 0;
  margin-top: -8px;
  margin-left: -9px;
  padding: 0;
}

.filler .value-row {
  position: relative;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  min-height: 27px;
  margin: 0;
  margin-top: 7px;
  margin-left: -10px;
  padding: 0 15px;
  padding-top: 2px;
  padding-right: 20px;
  padding-bottom: 8px;

  background: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 40px;
}

.filler-label {
  position: relative;

  display: inline-block;
  margin-top: 5px;
  margin-right: 54px;
vertical-align: baseline;
  white-space: nowrap;
}

.filler-input {
  display: none;
}

.first-label {
  margin-left: 28px;
}

.last-label {
  margin-right: 0;
}

.filler-input + .filler-label::before {
  content: "";
  position: absolute;
  top: -1px;
  left: -30px;

  display: inline-block;
  width: 24px;
  height: 20px;
vertical-align: baseline;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 20px 20px;
  opacity: 0.8;
}

.filler-input:checked + .filler-label::before {
background-size: 24px 20px;

  background-image: url("../img/checkbox-on.svg");

}

.filler-input + .filler-label:hover::before {

  opacity: 1;
}
.filler-input:disabled + .filler-label:hover::before {

  opacity: 1;
}

.filter-btn {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 150px;
  height: 37px;
  margin-top: 27px;
  margin-right: -5px;
  margin-left: 17px;

  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;

  background-color: rgba(255, 255, 255, 0.2);
  border-width: 2px;
  border-style: solid;
  border-color: rgb(255, 255, 255);
  border-radius: 50px;
margin-top: 35px;
}

.filter-btn:hover {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #323232;

  background-color: rgb(255, 255, 255);
}

.filter-btn:active {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #323232;

  background-color: rgb(237, 237, 237);
  -webkit-box-shadow: inset 0 2px 1px 0 rgba(105, 105, 105, 0.004);
          box-shadow: inset 0 2px 1px 0 rgba(105, 105, 105, 0.004);
}

.filter-row {
  width: 880px;
}

/*конец фильтров*/

.page-counter ul {
  list-style: none;
}

.page-counter-item a {
  font-weight: 500;
  color: #ffffff;

  border: none;
}

.page-counter-item.unable a {
  color: rgba(255, 255, 255, 0.2);
}
.page-counter-item.unable a:hover {
  background-color: rgba(255, 255, 255, 0);
}
.page-counter-item {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-right: 3px;
}
.page-counter-item a {
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 26px;
  height: 26px;
  padding-top: 3px;
  padding-left: 8px;
vertical-align: baseline;
  background-color: transparent;
  border-radius: 50%;
}
.page-counter-item.current a {
  color: #323232;

  background-color: rgb(255, 255, 255);
  border-radius: 50%;
}

.page-counter-item a:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
}

.footer-social {
  margin: 0;
  padding: 0;
}

.footer-social-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 0;
  padding-top: 23px;
}

.footer-left-ul,
.footer-right-ul {
  margin: 0;
  padding: 0;

  list-style: none;
}
/*стили сетки*/

html,
body {
  min-width: 1200px;
}

.main-header {
  min-height: 115px;
  margin: 0 auto;
}

.main-navigation {
  /*130*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 115px;
  margin: 0 auto;
  padding: 0;
}

.main-header-logo {
  width: 154px;
  height: 64px;
}

.header-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 267px;

  min-height: 53px;
  margin: 0;
  margin-top: 2px;
  padding: 0;

  list-style: none;
}

.header-options-search {
  position: relative;

  display: block;
  width: 33px;
  height: 33px;
  margin-left: 5px;

  background-color: rgb(161, 180, 169);
  border-radius: 50%;
}

.header-options-search::after {
  content: "";
  position: absolute;
  top: 7px;
  left: 9px;

  display: block;
  width: 21px;
  height: 20px;

  background-image: url("../img/loupe.svg");
  background-repeat: no-repeat;
}

.search-container:hover .header-options-btn {
  color: #323232;

  background-color: rgba(248, 247, 244, 1);
  background-repeat: no-repeat;
  background-position: center center;
}

.search-container:hover .header-options-search::after {
  background-image: url("../img/loupe_dark.svg");
}

.search-container {
  position: relative;
}

.search-form {
  position: absolute;
  top: 40px;
  left: -310px;
  z-index: 50;

  display: none;
  padding: 20px 16px;

  background-color: #f8f7f4;
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.search-container::after {
  content: "";
  position: absolute;
  top: 20px;
  left: -20px;

  width: 100px;
  height: 40px;
}

.search-form input {
  width: 310px;
  height: 44px;
  padding: 20px 16px;

  border: 1px solid #d3d3d2;
  border-radius: 5px;
}

.search-container:hover .search-form {
  top: 40px;

  display: block;
}

.header-options-enter {
  position: relative;

  width: 100px;
  padding-top: 8px;
  padding-right: 17px;
  padding-bottom: 8px;
  padding-left: 45px;

  color: rgb(255, 255, 255);

  background-color: rgb(161, 180, 169);
  border-radius: 50px;
}

.enter-container {
  margin-left: 10px;
  padding-bottom: 5px;
}

.header-options-enter::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 15px;
  z-index: 5;

  width: 21px;
  height: 20px;

  background-image: url("../img/entrance.svg");
  background-repeat: no-repeat;
}

.enter-container:hover .header-options-enter::after {
  background-image: url("../img/entrance-dark.svg");
}
.enter-container:hover  .header-options-enter {
  color: #323232;

  background-color: rgb(248, 247, 244);
}

.enter-container {
  position: relative;
}


.enter-container::after {
  content: "";
  position: absolute;
  top: 20px;
  left: -20px;

  width: 100px;
  height: 40px;
}



/******************************************************/

.entry {
  position: absolute;
  top: 35px;
  right: 0;
  z-index: 50;

  display: none;
  padding-top: 20px;
  padding-right: 16px;
  padding-bottom: 20px;
  padding-left: 20px;

  background-color: #f8f7f4;
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.entry-email,
.entry-password {
  width: 225px;
  height: 44px;
  margin-right: 10px;
  margin-bottom: 20px;
  margin-left: 10px;
  padding-left: 14px;

}



.entry-link {
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: #323232;
  text-decoration: underline;
}

.entry-link:hover {
  color: #e84d37;
}
.entry-button {
  width: 100px;
  height: 47px;
  margin: auto;

  font-size: 18px;
  line-height: 24px;

  border-radius: 30px;
}
.button-container {
  width: 105px;
  height: 50px;
}
.entry-button:hover {
  font-size: 18px;
  line-height: 24px;
}

.entry-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.entry-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.enter-container:hover .entry {
  display: block;
}
/*****************************************************/

.feedback-overlay {
  position: fixed;
  display: none;
  top: 0;
left: 0;
width: 100vw;
  height: 100vh;
background: rgba(0, 0, 0, 0.3);
z-index: 200;
}
.feedback-container {
  /*position: fixed;*/
top: -10%;
  left: 50%;
display: block;
/*  display: none; /*display: block; для отображения*/
opacity: 1;
}
.modal-show {
  display: block;
  animation: bounce 0.6s;
}

.feedback {
  position: absolute;
  top: 338px;
  left: 50%;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 427px;
  margin-left: -250px;
  padding-top: 17px;
  padding-right: 25px;
  padding-bottom: 24px;
  padding-left: 25px;

  background-color: #f8f7f4;
  border-radius: 5px;
}

.feedback b {
  display: inline-block;
  margin-bottom: 17px;
  vertical-align: baseline;
}

.feedback .default-input {
  width: 260px;
  height: 42px;
  margin-bottom: 17px;
}
.feedback .fb-write {
  width: 410px;
  height: 140px;

  resize: none;
}

.feedback-button {
  -ms-flex-item-align: right;
      -ms-grid-row-align: right;
      align-self: right;
  width: 120px;
  height: 40px;
}

.feedback-close {
  position: absolute;
  top: 16px;
  right: 15px;

  width: 20px;
  height: 20px;

  background-color: transparent;
  background-image: url("../img/cross-big.svg");
  background-repeat: no-repeat;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}


/***************************************************/

.basket-container {
  position: relative;

  -webkit-box-sizing: border-box;

          box-sizing: border-box;
  width: 117px;
  margin-left: 7px;
  padding-bottom: 5px;
}

.header-options-basket {
  position: relative;

  width: 119px;
  height: 33px;
  padding-top: 8px;
  padding-right: 35px;
  padding-bottom: 8px;
  padding-left: 45px;

  color: rgb(255, 255, 255);

  background-color: rgb(161, 180, 169);
  border-radius: 50px;
}
.full-basket {
  padding-right: 14px;
  padding-left: 45px;
  white-space: nowrap;
}
.basket-container:hover  .header-options-basket {
  color: #323232;

  background-color: rgb(248, 247, 244);
}
.header-options-basket::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 16px;
  z-index: 50;

  width: 21px;
  height: 20px;

  background-image: url("../img/basket-empty.svg");
  background-repeat: no-repeat;
}
.full-basket.header-options-basket::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 16px;
  z-index: 5;

  width: 21px;
  height: 20px;

  background-image: url("../img/basket-full.svg");
  background-repeat: no-repeat;
}
.basket-container:hover .header-options-basket::after {
  background-image: url("../img/basket-empty-dark.svg");
}
.basket-container:hover .full-basket.header-options-basket::after {
  background-image: url("../img/basket-full.svg");
}

/************************************/
.basket-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  padding: 0;

  list-style: none;
}
.basket-content {
  z-index: 10;

  display: none;
  width: 540px;
  padding: 20px 16px;

  background-color: rgb( 248, 247, 244);
  border-radius: 5px;
  -webkit-box-shadow: 0 20px 20px 0 rgba( 0, 0, 0, 0.4);
          box-shadow: 0 20px 20px 0 rgba( 0, 0, 0, 0.4);
}
.basket-container::after {
  content: "";
  position: absolute;
  top: 20px;
  left: -20px;

  width: 100px;
  height: 40px;
}

.basket-container:hover .basket-content {
  position: absolute;
  top: 30px;
  right: 0;

  display: block;
}

.basket-item {
  position: relative;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.basket-item-delete {
  display: inline-block;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 11px;
  height: 11px;
  margin: 0;
  margin-right: 15px;
vertical-align: baseline;
  font-size: 0;

  background-color: transparent;
  background-image: url("../img/cross-small.svg");
  background-repeat: no-repeat;
  background-size: 11px 11px;
  border: none;
}

.basket-item-title {
  display: inline-block;
  vertical-align: baseline;
  width: 216px;
}
.basket-item-img {
  display: inline-block;
  vertical-align: baseline;
  margin-right: 20px;
}
.basket-item-order {
  display: inline-block;
  vertical-align: baseline;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.order-complete {
  -ms-flex-item-align: end;
      align-self: flex-end;
}
.complete-btn {
  width: 170px;
  height: 48px;
}
/*************************************************/
.header-options-time {
  -ms-flex-item-align: right;
      -ms-grid-row-align: right;
      align-self: right;
}

.main-navigation-wrapper {
  width: 1200px;

/* Временно для сетки */
  min-height: 53px;
}

.container {
  padding-right: 27px;
  padding-left: 27px;
}

.main-navigation-wrapper .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-container {
  margin: 0 auto;
  padding: 0;
}

.bonus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1200px;
  min-height: 220px;
  margin: 0 auto;
  margin-bottom: 40px;
  padding: 0;
}

.bonus-item {
  width: 560px;
  min-height: 210px;
  margin: 0 13px;
  padding-top: 15px;
  padding-right: 22px;
  padding-left: 20px;
}

.bonus-item:nth-child(2) {
  margin-left: 27px;
}

.bonus-item:nth-child(2) .bonus-item-btn {
  margin-left: 355px;
  padding: 12px 23px;
}

.bonus-item:nth-child(3) .bonus-item-btn {
  margin-left: 332px;
  padding: 12px 20px;
}

.bonus-item:nth-child(3) {
  margin-right: 27px;
}

.news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 1200px;
  min-height: 220px;
  margin: 0 auto;
  margin-bottom: 37px;
  padding: 0;
}

.blog a {
  display: inline-block;
  vertical-align: baseline;
  margin-top: -30px;
  margin-right: 240px;
}

.map {
  width: 1200px;
  min-height: 433px;
  margin: 0 auto;
  padding: 0;
}

.adress-container {
  position: relative;

  width: 1200px;
  min-height: 433px;
}

.adress {
  position: absolute;
  top: 65px;
  left: 870px;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 300px;
  height: 305px;
  padding-top: 15px;
  padding-right: 30px;
  padding-left: 25px;
}

.map-adress-pre {
  margin-right: 90px;
  margin-bottom: 0;
}

.map-adress-text {
margin-top: 3px;
  margin-bottom: 1px;
}

.map-adress-order {
  margin-top: 12px;
  margin-bottom: 9px;
}

.map-phone {
  margin-bottom: 0;
}

.map-adress-time {
  margin-top: -1px;
  margin-bottom: 27px;
}

.open-feedback {
  width: 255px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.page-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1200px;
  min-height: 105px;
  margin: 0 auto;
}

.phone-href-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1200px;
  min-height: 22px;
  margin: 0 auto;
}

.time-and-phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 30px;
  margin-top: -4px;
  margin-right: 28px;
  margin-bottom: -4px;
  margin-left: auto;
}

.header-options-phone {
  display: inline-block;
  vertical-align: baseline;
  margin-top: 3px;
}

.header-options-time {
  display: inline-block;
  vertical-align: baseline;
  padding-left: 20px;
}

.catalog-path {
  margin-right: auto;
  margin-left: 0;
  padding-top: 19px;
  padding-left: 27px;
}

.cat-container {
  width: 1200px;
  min-height: 198px;
  margin: 0 auto;
  margin-top: -20px;
  margin-bottom: -10px;
  padding: 0;
}

.filter-container {
  width: 1200px;
  min-height: 198px;
  margin: 0 auto;
  margin-bottom: 38px;
  padding: 0;
}

.filter {
  width: 879px;
  min-height: 130px;
  margin: 0;
  margin-top: 10spx;
}

.catalog-header {
  padding-left: 27px;
}

.filter-forms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.filter-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page-counter {
  width: 200px;
  margin-top: 43px;
  margin-right: 18px;
  margin-left: auto;
}

.page-counters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: auto;
  padding: 0;
}
/*
.page-counter-back {
  background-color: transparent;
  background-image: url("../img/back-arrow.svg");
  background-repeat: no-repeat;
  background-position: center center;

}
.page-counter-forward {
  background-image: url("../img/forward-arrow.svg");
  background-repeat: no-repeat;
  background-position: center center;
}
*/
.main-header-logo {
  padding-top: 9px;
}

.main-nav-flex-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 560px;
}

.site-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 380px;
  min-height: 53px;
  padding-top: 25px;
  padding-left: 9px;
}

.site-navigation > li {
  position: relative;
}

.site-navigation a {
  display: block;
}

.site-navigation .nav-catalog {
  position: absolute;
  top: 35px;
  left: -10px;
  z-index: 30;

  display: none;
  width: 143px;
  margin: 0;
  padding: 0;

  list-style: none;

  background-color: rgb(248, 247, 244);
  border-radius: 5px;
  -webkit-box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.site-navigation-sub:hover .nav-catalog {
  display: block;
}

.nav-catalog > li {
  display: block;
  padding-top: 10px;
  padding-right: 19px;
  padding-bottom: 10px;
  padding-left: 19px;
}

.slides-container {
  margin-bottom: 40px;
}

.cat-wrapper .slides-container {
  margin-bottom: 10px;
}

.feature-list {
  position: relative;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
}

.social-btn {
  display: inline-block;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 37px;
  height: 37px;
  margin-right: 13px;

  font-size: 0;

  background-repeat: no-repeat;
  background-size: 100%;
  border: 3px solid rgba (255, 255, 255, 0.7);
  border-radius: 50%;
  opacity: 0.8;
}

.tweet {
  margin-left: 27px;

  background-image: url("../img/twitter.svg");
}

.insta {
  background-image: url("../img/instagram.svg");
}

.fb {
  background-image: url("../img/fb.svg");
}

.vk {
  background-image: url("../img/vk.svg");
}

.social-btn:hover {
  border: 3px solid rgba(255, 255, 255, 0.7);
  opacity: 1;
}

.social-btn:active {
  -webkit-box-shadow: inset 0 2px 1px 0 rgba(136, 136, 136, 0.4);
          box-shadow: inset 0 2px 1px 0 rgba(136, 136, 136, 0.4);
}

/*карточка товара*/

.catalog-list {
  width: 1200px;
  margin: 0 auto;
  margin-bottom: 40px;
  padding: 0;
}

.popular {
  width: 1200px;
  margin: 0 auto;
  margin-top: 3px;
}

.popular-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  min-height: 375px;
  margin: 0 auto;
}

.popular-container .catalog-list-item:first-child {
  margin-left: 28px;
}

.cat-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  min-height: 370px;
  margin: 0 auto;
}

.cat-row-block {
  display: block;
  margin-bottom: -8px;
  margin-left: 20px;
}

.catalog-list-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 1200px;
  margin: 0 auto;
}

.catalog-list-item {
  position: relative;

  margin-left: 10px;

  text-align: center;
}
.catalog-list-item .default-a {
  border-bottom: none;
}

.catalog-list-item:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 61px;
  height: 61px;

  background-image: url(../img/hit.svg);
}


.cat-item-text {
  display: inline;

  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.catalog-list-item:hover .cat-item-text {
  border: none;
}
.in-catalog:before {
  display: none;
}

/*
для каталога - отсутствие ХИТ*/

.catalog-list-item-price {
  position: absolute;
  top: 210px;
  left: 0;

  color: #ffffff;
  text-shadow: 0 1px 3px rgba(49, 50, 53, 0.5);
}

.catalog-list-item:hover,
.in-catalog:hover {
  z-index: 50;

  margin-bottom: -35px;

/*!!!*/
  padding-bottom: 75px;
}

.catalog-list-item .cat-item-btn,
.in-catalog .cat-item-btn {
  display: none;
  padding: 12px 30px;
}

.catalog-list-item:hover .cat-item-btn,
.in-catalog:hover .cat-item-btn {
  position: absolute;
  bottom: 15px;
  left: 19px;

  display: block;
  width: 170px;
}

.catalog-list-item img {
  margin-bottom: 10px;
}

.catalog-list-item {
  width: 267px;
  margin-right: 15px;
}


.text-container {
  width: 255px;
  display: block;
  margin: 0 auto;
  margin-top: -2px;

}

/*конец карточки каталога*/

.footer-links-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 393px;
  margin: 0;
  padding: 0;
  padding-top: 35px;
}

.footer-links-left {
  position: relative;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 42px;
  margin-left: 45px;
}

.footer-links-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 42px;
  margin-left: 33px;
}

.footer-links-item {
  display: inline-block;
vertical-align: baseline;
  text-align: left;
}

.for-suppliers {
  font-weight: 700;
}

.footer-links-left:before {
  content: "";
  position: absolute;
  top: 3px;
  left: -20px;

  width: 15px;
  height: 13px;

  background-image: url(../img/heart.svg);
}
.drop-menu-item {
  text-decoration: none;
  color: #323232;
}
/*анимация модалки*/
@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

.modal-error {
  animation: shake 0.6s;
}


.fb-name,
.fb-email,
.fb-write {

  outline: none;
  height: 44px;
  padding: 0 10px;
  background-color: white;
  -webkit-box-shadow: inset 0 0 0 1px rgba(178, 178, 178, 0.52);
  box-shadow: inset 0 0 0 1px rgba(178, 178, 178, 0.52);
}

.fb-name:hover,
.fb-email:hover,
.fb-write:hover {
  outline: none;
  -webkit-box-shadow: inset 0 0 0 2px rgba(154, 154, 154, 0.52);
  box-shadow: inset 0 0 0 2px rgba(154, 154, 154, 0.52);
}

.fb-name:focus,
.fb-email:focus,
.fb-write:focus {
  outline: none;
  -webkit-box-shadow: inset 0 0 0 2px rgba(46, 136, 228, 0.52);
  box-shadow: inset 0 0 0 2px rgba(46, 136, 228, 0.52);
}

.fb-write {
   min-height: 155px;
}
/*
.fb-name,
.fb-email {
  width: 225px;
  height: 44px;
  margin-bottom: 20px;
  padding-left: 14px;

  border: 1px solid #d3d3d2;
  border-radius: 5px;
}

.fb-name:hover,
.fb-email:focus,
.fb-name:hover,
.fb-email:focus {
  margin-bottom: 17px;

}
*/
