body {
  font-family: "Roboto", "Arial", sans-serif;
}

.projects {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  max-width: 500px;
  min-width: 300px;
}
.project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 2px solid lightgray;
  border-radius: 20px;
  padding: 15px 50px;
  max-width: 500px;
  min-width: 300px;
  margin-bottom: 30px;

}

.container {
  margin: 0 auto;
  margin-top:5%;
  display: block;
}

a {
  text-decoration: none;
  color: black;
}

.project__header {
  text-transform: uppercase;
  text-align: center;
  font-size: 18px;
}

.project__header:hover {
  color: #444444;
}
.project__description-ref:hover {
    color: lightgray;

}
