@font-face {
  font-family: "Uni Neue";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Uni Neue Regular"), local("UniNeueRegular"), url("../font/UniNeueRegular.woff2") format("woff2"), url("../font/UniNeueRegular.woff") format("woff"); }

@font-face {
  font-family: "Uni Neue";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local("Uni Neue Regular Italic"), local("UniNeueRegular-Italic"), url("../font/UniNeueRegular-Italic.woff2") format("woff2"), url("../font/UniNeueRegular-Italic.woff") format("woff"); }

@font-face {
  font-family: "Uni Neue";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: local("Uni Neue Heavy"), local("UniNeueHeavy"), url("../font/UniNeueHeavy.woff2") format("woff2"), url("../font/UniNeueHeavy.woff") format("woff"); }

@font-face {
  font-family: "Uni Neue";
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: local("Uni Neue Heavy Italic"), local("UniNeueHeavy-Italic"), url("../font/UniNeueHeavy-Italic.woff2") format("woff2"), url("../font/UniNeueHeavy-Italic.woff") format("woff"); }

@font-face {
  font-family: "Uni Neue";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Uni Neue Bold"), local("UniNeueBold"), url("../font/UniNeueBold.woff2") format("woff2"), url("../font/UniNeueBold.woff") format("woff"); }

@font-face {
  font-family: "Uni Neue";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local("Uni Neue Black"), local("UniNeueBlack"), url("../font/UniNeueBlack.woff2") format("woff2"), url("../font/UniNeueBlack.woff") format("woff"); }

body {
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent; }

@-moz-document url-prefix() {
  body {
    font-weight: 200;
    -moz-osx-font-smoothing: grayscale; } }

main {
  display: block; }

input::-ms-clear {
  display: none; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  border: 0; }

.page-body {
  min-width: 320px;
  padding: 0;
  margin: 0;
  font-size: 18px;
  line-height: 25px;
  font-family: "Uni Neue", "Arial", sans-serif; }

@media (max-width: 767px) {
  .page-body {
    font-size: 14px;
    line-height: 17px; } }

.wrapper {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  max-width: 1920px;
  padding: 0 360px; }
  .wrapper--no-padding {
    padding: 0; }

@media (max-width: 1919px) {
  .wrapper {
    padding: 0 10%; } }

@media (max-width: 1023px) {
  .wrapper {
    padding: 0 27px; } }

.btn {
  display: block;
  text-decoration: none;
  cursor: pointer;
  border: 2px solid rgba(157, 157, 157, 0.4);
  width: 221px;
  height: 54px;
  font-size: 18px;
  line-height: 24px;
  color: #1F1F1F;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center; }
  .btn:hover {
    -webkit-transition: 0.2s;
    transition: 0.2s;
    opacity: 0.7; }

.banner__wrapper {
  background-image: url("../img/banner.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 460px;
  padding-bottom: 114px;
  background-size: 100%;
  padding-top: 47px;
  padding-left: 360px;
  height: 20%; }
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .banner__wrapper {
      background-image: url("../img/banner@2x.png"); } }

.banner__text {
  display: block;
  font-size: 40px;
  line-height: 54px;
  color: #ffffff;
  font-style: italic;
  margin-bottom: 20px;
  padding-left: 20px; }

.banner__picture img {
  max-width: 50%;
  height: auto; }

@media (max-width: 1919px) {
  .banner__wrapper {
    background-image: url("../img/banner.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 2.5%;
    padding-left: 18.7%;
    padding-bottom: 4%; } }
  @media (max-width: 1919px) and (-webkit-min-device-pixel-ratio: 1.5), (max-width: 1919px) and (min-resolution: 144dpi), (max-width: 1919px) and (min-resolution: 1.5dppx) {
    .banner__wrapper {
      background-image: url("../img/banner@2x.png"); } }

@media (max-width: 1919px) {
  .banner__text {
    margin-top: 3%;
    display: block;
    font-size: 200%;
    line-height: 100%;
    color: #ffffff;
    font-style: italic;
    margin-bottom: 20px;
    padding-left: 2%; } }

@media (max-width: 1023px) {
  .banner__wrapper {
    padding-bottom: 3%; }
  .banner__text {
    font-size: 120%;
    line-height: 100%; }
  .banner__picture img {
    max-width: 60%;
    height: auto; } }

@media (max-width: 767px) {
  .banner__text {
    margin-top: 2%;
    font-size: 14px;
    line-height: 100%;
    margin-bottom: 10px; }
  .banner__picture img {
    max-width: 50%;
    height: auto; }
  .banner__wrapper {
    height: 100%;
    padding-top: 2.5%; } }

.tool__title {
  font-size: 60px;
  line-height: 70px;
  color: #4E4E4E;
  font-weight: 900;
  max-width: 500px;
  margin-bottom: 25px; }

.tool__text {
  font-size: 18px;
  line-height: 26px;
  color: #7A7A7A;
  max-width: 590px;
  margin-bottom: 50px; }

.tool__picture {
  margin-right: 120px; }

.tool__picture-active {
  display: none; }

.tool__content {
  width: 50%;
  padding-top: 20px; }

.tool__links {
  margin: 0;
  padding: 0;
  list-style: none;
  display: none;
  max-width: 500px; }

.tool__link-item {
  margin-right: 25px;
  margin-bottom: 14px; }

.tool__link {
  text-decoration: none;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #ffffff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-transition: 0.2s;
  transition: 0.2s; }
  .tool__link:hover {
    -webkit-transition: 0.2s;
    transition: 0.2s;
    opacity: 0.7; }

.tool--left .tool__content {
  padding-top: 40px;
  margin-right: 110px; }

.tool--left .tool__picture {
  margin-right: 0px; }

.tool--active {
  background: -webkit-gradient(linear, left bottom, left top, from(#007DD6), to(#007DD6)), -webkit-gradient(linear, left bottom, left top, from(#29A5F8), to(#29A5F8)), radial-gradient(40.65% 86.72% at 27.68% 13.28%, #233745 0%, #0F181E 100%);
  background: linear-gradient(0deg, #007DD6, #007DD6), linear-gradient(0deg, #29A5F8, #29A5F8), radial-gradient(40.65% 86.72% at 27.68% 13.28%, #233745 0%, #0F181E 100%);
  color: #ffffff; }

.tool__wrapper {
  display: -ms-flexbox;
  display: flex;
  padding-top: 50px;
  padding-left: 364px;
  padding-bottom: 30px; }
  .tool__wrapper:hover {
    background: -webkit-gradient(linear, left bottom, left top, from(#007DD6), to(#007DD6)), -webkit-gradient(linear, left bottom, left top, from(#29A5F8), to(#29A5F8)), radial-gradient(40.65% 86.72% at 27.68% 13.28%, #233745 0%, #0F181E 100%);
    background: linear-gradient(0deg, #007DD6, #007DD6), linear-gradient(0deg, #29A5F8, #29A5F8), radial-gradient(40.65% 86.72% at 27.68% 13.28%, #233745 0%, #0F181E 100%);
    color: #ffffff; }
    .tool__wrapper:hover .tool__title {
      color: #ffffff;
      margin-top: 17px; }
    .tool__wrapper:hover .tool__text {
      color: #B6DAF4;
      margin-bottom: 32px; }
    .tool__wrapper:hover .tool__btn {
      display: none; }
    .tool__wrapper:hover .tool__links {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
    .tool__wrapper:hover .tool__picture {
      display: none; }
    .tool__wrapper:hover .tool__picture-active {
      display: block; }

@media (max-width: 1919px) {
  .tool__title {
    font-size: 60px;
    line-height: 70px;
    color: #4E4E4E;
    font-weight: 900;
    max-width: 500px;
    margin-bottom: 25px; }
  .tool__text {
    font-size: 18px;
    line-height: 26px;
    color: #7A7A7A;
    max-width: 590px;
    margin-bottom: 50px; }
  .tool__wrapper {
    display: -ms-flexbox;
    display: flex;
    padding-top: 50px;
    padding-left: 10%;
    padding-bottom: 30px; }
  .tool__picture, .tool__picture-active {
    margin-right: 120px;
    min-width: 40%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center; }
    .tool__picture img, .tool__picture-active img {
      width: 100%;
      height: auto; }
  .tool__content {
    width: 50%;
    padding-top: 20px; }
  .tool--left .tool__content {
    padding-top: 40px;
    margin-right: 110px; }
  .tool--left .tool__picture, .tool--left .tool__picture-active {
    margin-right: 0px; } }

@media (max-width: 1023px) {
  .tool__title {
    font-size: 40px;
    line-height: 114%;
    color: #4E4E4E;
    font-weight: 900;
    max-width: 500px;
    margin-bottom: 25px; }
  .tool__picture, .tool__picture-active {
    margin-right: 10%;
    width: 30%;
    min-width: 0; }
  .tool--abrasive .tool__content {
    padding-top: 40px;
    margin-right: 10%; }
  .tool--abrasive .tool__picture, .tool--abrasive .tool__picture-active {
    margin-right: 0px; } }

@media (max-width: 767px) {
  .tool__wrapper {
    padding-top: 20px;
    padding-bottom: 20px; }
    .tool__wrapper:hover .tool__picture, .tool__wrapper:hover .tool__picture-active {
      display: none; }
  .tool__title {
    font-size: 30px;
    line-height: 114%;
    color: #4E4E4E;
    font-weight: 900;
    max-width: 340px;
    margin-bottom: 10px;
    margin-top: 0; }
  .tool__content {
    width: 100%; }
  .tool__picture, .tool__picture-active {
    display: none; }
  .tool--left .tool__content {
    padding-top: 40px;
    margin-right: 0; }
  .tool--left .tool__picture {
    margin-right: 0px; } }

.about {
  font-family: "Uni Neue", "Arial", sans-serif;
  font-size: 18px;
  line-height: 28px;
  color: #000000; }

.about__title {
  font-family: "Uni Neue", "Arial", sans-serif;
  font-size: 50px;
  line-height: 60px;
  color: #2F2F2F;
  margin-right: 7%;
  font-weight: 800; }

.about__content {
  padding-top: 40px; }

.about__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-height: 450px;
  margin-left: 20px;
  width: 50%; }

.about__list-what {
  margin: 0; }

.about__list-item {
  position: relative;
  max-width: 366px;
  margin-bottom: 20px; }
  .about__list-item::before {
    content: "";
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #38AAF6;
    top: 10px;
    left: -20px; }
  .about__list-item:first-child {
    margin-right: 60px; }

.about__list-bold {
  font-weight: 700; }

.about__wrapper {
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding-top: 85px;
  padding-bottom: 108px; }

.about__btn {
  position: absolute;
  top: 288px; }

.about__text {
  margin-bottom: 40px; }

@media (max-width: 1400px) {
  .about__btn {
    position: relative;
    top: 0; }
  .about__wrapper {
    padding-top: 50px;
    -ms-flex-direction: column;
        flex-direction: column;
    padding-bottom: 30px; }
  .about__list {
    margin-bottom: 20px; }
  .about__title {
    margin-bottom: 10px; }
  .about__content {
    padding-top: 0; } }

@media (max-width: 1023px) {
  .about__btn {
    position: relative;
    top: 0; }
  .about__wrapper {
    padding-top: 50px;
    -ms-flex-direction: column;
        flex-direction: column;
    padding-bottom: 30px; }
  .about__list {
    margin-bottom: 20px; }
  .about__title {
    margin-bottom: 10px;
    font-size: 40px;
    line-height: 114%; }
  .about__content {
    padding-top: 0; } }

@media (max-width: 767px) {
  .about__btn {
    position: relative;
    top: 0; }
  .about__wrapper {
    padding-top: 50px;
    -ms-flex-direction: column;
        flex-direction: column;
    padding-bottom: 30px; }
  .about__list {
    margin-bottom: 20px;
    max-height: 100%;
    width: auto; }
  .about__list-item {
    max-width: 100%; }
    .about__list-item:first-child {
      margin-right: 0; }
  .about__title {
    margin-bottom: 10px;
    font-size: 30px;
    line-height: 114%; }
  .about__content {
    padding-top: 0; } }

.service__wrapper {
  display: -ms-flexbox;
  display: flex;
  padding-top: 50px;
  padding-bottom: 80px; }

.service__title {
  font-family: "Uni Neue", "Arial", sans-serif;
  font-size: 70px;
  line-height: 80px;
  color: #2F2F2F;
  font-weight: 900;
  margin-right: 7%; }

.service__info {
  display: none;
  width: 380px;
  position: absolute;
  top: -2px;
  left: 122%; }

.service__link {
  font-family: "Uni Neue", "Arial", sans-serif;
  font-size: 20px;
  font-weight: 800;
  line-height: 27px;
  color: #464646;
  border-bottom: 1px solid rgba(56, 170, 246, 0.3);
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s; }
  .service__link:hover {
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    color: #38AAF6;
    border-bottom: none; }
    .service__link:hover::before {
      content: "";
      position: absolute;
      top: 4px;
      left: -50px;
      width: 39px;
      height: 39px;
      background: url("../img/drill-icon.svg") no-repeat; }
    .service__link:hover::after {
      content: "";
      position: absolute;
      top: 14px;
      left: 98%;
      width: 70px;
      height: 1px;
      background: #C4C4C4; }
    .service__link:hover + .service__info {
      display: block; }

.service__list {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-top: 80px;
  width: 48%; }

.service__info-title {
  font-family: "Uni Neue", "Arial", sans-serif;
  line-height: 22px;
  font-weight: 400;
  color: #555555;
  padding-left: 27px;
  position: relative; }
  .service__info-title::before {
    content: "";
    width: 23px;
    height: 23px;
    background: url("../img/info-icon.svg") no-repeat;
    position: absolute;
    left: -5px; }

.service__info-text {
  font-family: "Uni Neue", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #7A7A7A;
  margin-top: 10px; }

.service__item {
  margin-bottom: 22px;
  position: relative; }

@media (max-width: 1400px) {
  .service__wrapper {
    -ms-flex-direction: column;
        flex-direction: column;
    padding-bottom: 110px; }
  .service__list {
    margin-top: 0; } }

@media (max-width: 1023px) {
  .service__wrapper {
    -ms-flex-direction: column;
        flex-direction: column;
    padding-left: 10%;
    padding-bottom: 140px; }
  .service__list {
    margin-top: 0; }
  .service__title {
    font-size: 40px;
    line-height: 114%; }
  .service__info {
    width: 300px; } }

@media (max-width: 767px) {
  .service__wrapper {
    padding-bottom: 50px; }
  .service__info {
    position: relative;
    top: 0;
    left: 0;
    padding-top: 20px;
    width: 100%; }
  .service__list {
    width: 100%; }
  .service__link::before {
    display: none; }
  .service__link::after {
    display: none; }
  .service__item--active::before {
    width: 0;
    height: 0; }
  .service__item--active .service__info {
    display: block;
    position: relative;
    top: 0;
    left: 0; } }

.source__wrapper {
  padding-top: 65px;
  padding-bottom: 0px; }

.source__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #D7D7D7;
  padding-bottom: 35px; }

.source__list-item {
  width: 30%;
  max-width: 280px;
  margin-right: 25px; }
  .source__list-item:last-child {
    margin-right: 0;
    max-width: 282px; }

.source__sublist {
  padding: 0;
  margin: 0;
  list-style: none;
  width: 100%; }

.source__sublist-item {
  margin-bottom: 12px; }

.source__sublist-title h3 {
  font-style: "Uni Neue", "Arial", sans-serif;
  font-size: 24px;
  line-height: 26px;
  font-weight: 900;
  color: #474747;
  margin-bottom: 0;
  max-width: 200px; }

.source__sublist-title {
  margin-bottom: 15px; }
  .source__sublist-title--one {
    padding-top: 26px; }

.source__link {
  font-style: "Uni Neue", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #707070;
  text-decoration: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  font-weight: 400;
  width: 290px; }
  .source__link:hover {
    -webkit-transition: 0.2s;
    transition: 0.2s;
    color: #38AAF6;
    font-weight: 700; }

@media (max-width: 1023px) {
  .source__list {
    margin: 0 auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 700px;
    -ms-flex-pack: justify;
        justify-content: space-between; }
  .source__list-item {
    width: 50%; }
    .source__list-item:nth-child(2n) {
      margin-right: 0; } }

@media (max-width: 767px) {
  .source__list {
    margin: 0 auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 300px;
    -ms-flex-pack: justify;
        justify-content: space-between; }
  .source__list-item {
    width: 100%;
    margin-right: 0; } }

.footer__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  max-width: 624px;
  width: 100%;
  margin-top: 30px; }

.footer__link {
  font-family: "Uni Neue", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
  opacity: 0.5;
  text-decoration: none; }
  .footer__link:hover {
    color: #474747;
    opacity: 1; }

.footer__wrapper {
  display: -ms-flexbox;
  display: flex;
  padding-top: 40px;
  -ms-flex-pack: start;
      justify-content: flex-start; }

.footer__who {
  font-family: "Uni Neue", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #474747;
  max-width: 288px;
  margin-top: 35px; }

.footer__contacts {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  padding-left: 9%; }

.footer__phone {
  font-family: "Uni Neue", "Arial", sans-serif;
  font-size: 25px;
  line-height: 34px;
  font-weight: 700;
  color: #474747;
  text-decoration: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  white-space: nowrap; }
  .footer__phone:hover {
    -webkit-transition: 0.2s;
    transition: 0.2s;
    opacity: 0.7; }

.footer__with-us {
  font-family: "Uni Neue", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  text-decoration: none;
  position: relative;
  margin-bottom: 38px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: #474747; }
  .footer__with-us:hover {
    -webkit-transition: 0.2s;
    transition: 0.2s;
    opacity: 0.7; }
  .footer__with-us span {
    position: relative; }
  .footer__with-us span::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    top: 100%;
    left: 0;
    background: url("../img/dash.svg") repeat-x; }

.footer__copyright {
  font-family: "Uni Neue", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #474747;
  margin-bottom: 0; }

.footer__developer {
  font-family: "Uni Neue", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  text-decoration: none;
  color: #474747;
  white-space: nowrap;
  -webkit-transition: 0.2s;
  transition: 0.2s; }
  .footer__developer:hover {
    -webkit-transition: 0.2s;
    transition: 0.2s;
    opacity: 0.7; }
  .footer__developer span {
    position: relative; }
  .footer__developer span::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    top: 100%;
    left: 0;
    background: url("../img/solid.svg") repeat-x; }

@media (max-width: 1400px) {
  .footer__contacts {
    padding-left: 0; }
  .footer__wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
    -ms-flex-negative: 1;
        flex-shrink: 1;
    padding-bottom: 20px; }
  .footer__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: start;
        justify-content: flex-start;
    -ms-flex-direction: column;
        flex-direction: column;
    max-width: 20%;
    -ms-flex-negative: 1;
        flex-shrink: 1; }
  .footer__list-item {
    margin: 0 auto; }
  .footer__logo-container {
    margin-right: 20px; }
  .footer__who {
    width: 280px; } }

@media (max-width: 767px) {
  .footer__wrapper {
    -ms-flex-direction: column;
        flex-direction: column;
    margin: 0 auto; }
  .footer__list {
    -ms-flex-order: 1;
        order: 1;
    width: 90%;
    max-width: 90%;
    margin: 0 auto;
    margin-bottom: 20px; }
  .footer__list-item {
    margin: 0; }
  .footer__logo-container {
    -ms-flex-order: 2;
        order: 2;
    max-width: 90%;
    margin-left: 18px;
    margin-bottom: 20px; }
  .footer__contacts {
    -ms-flex-order: 3;
        order: 3;
    width: 90%;
    margin: 0 auto; }
  .footer__who {
    width: 90%;
    font-size: 14px;
    line-height: 120%; } }

.nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: justify;
      justify-content: space-between;
  background: transparent;
  color: #FFF;
  height: 50px;
  padding-top: 38px; }

.menu__link {
  font-family: "Uni Neue", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
  opacity: 0.5;
  text-decoration: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  white-space: nowrap;
  border: none; }
  .menu__link:hover {
    -webkit-transition: 0.2s;
    transition: 0.2s;
    color: #FFFFFF;
    opacity: 1; }

.menu {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-top: 28px; }

.menu__item--active .menu__link {
  opacity: 1; }

.menu > li {
  margin: 0 1rem; }

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center; }

#menu-toggle {
  display: none; }

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 2px;
  width: 30px;
  border-radius: 2px; }

.menu-button::before {
  content: '';
  margin-top: -8px; }

.menu-button::after {
  content: '';
  margin-top: 8px; }

#menu-toggle:checked + .menu-button-container {
  content: "&#2716;"; }

.nav__contacts {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  margin-top: -2px; }

.nav__phone {
  font-family: "Uni Neue", "Arial", sans-serif;
  font-size: 25px;
  line-height: 34px;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  white-space: nowrap; }
  .nav__phone:hover {
    -webkit-transition: 0.2s;
    transition: 0.2s;
    opacity: 0.7; }

.nav__with-us {
  font-family: "Uni Neue", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  text-decoration: none;
  position: relative;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: #ffffff;
  text-align: right; }
  .nav__with-us:hover {
    -webkit-transition: 0.2s;
    transition: 0.2s;
    opacity: 0.7; }
  .nav__with-us span {
    position: relative;
    text-align: right; }
  .nav__with-us span::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    top: 100%;
    left: 0;
    background: url("../img/dash.svg") repeat-x; }

@media (max-width: 1400px) {
  .menu {
    margin-top: 0;
    max-width: 400px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .menu__item {
    margin-bottom: 10px; }
  .menu-button-container {
    margin-top: 10px; } }

@media (max-width: 1023px) {
  .menu-button-container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-order: 3;
        order: 3;
    margin-top: 4px; }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 80px;
    right: 30px;
    -ms-flex-direction: column;
        flex-direction: column;
    width: 100%;
    max-width: 200px;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center; }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    display: none; }
  #menu-toggle:checked ~ .menu li {
    height: 2.5em;
    padding: 0.5em;
    display: -ms-flexbox;
    display: flex;
    z-index: 10;
    opacity: 1; }
  .menu > li {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    background: white;
    border: none;
    opacity: 1;
    color: #2f2f2f;
    z-index: 10;
    cursor: pointer;
    border-bottom: 1px solid #2f2f2f;
    border-top: 1px solid #2f2f2f; }
  .menu__link {
    color: #2f2f2f; }
    .menu__link:hover {
      color: #151515; }
  .menu > li:hover {
    background: #868686; }
  .nav__picture {
    -ms-flex-order: 1;
        order: 1; }
    .nav__picture img {
      width: 80px;
      height: auto; }
  .nav__contacts {
    -ms-flex-order: 2;
        order: 2; }
  .nav__phone {
    font-size: 14px;
    line-height: 120%; }
  .nav__with-us {
    font-size: 12px;
    line-height: 120%; } }

.header {
  background: radial-gradient(40.65% 86.72% at 27.68% 13.28%, #233745 0%, #0F181E 100%);
  min-height: 900px; }

.header__wrapper {
  min-height: 900px;
  background: linear-gradient(119.34deg, #17242D 0%, rgba(15, 24, 30, 0) 100%), url("../img/header.png") no-repeat;
  background-position: bottom right;
  padding: 0 6%; }

.header__page-title {
  font-family: "Uni Neue", "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 67px;
  color: #E4ECF1;
  padding-left: 5px;
  margin-top: 13px; }

.header__content {
  margin-top: 120px; }

.header__item-title {
  font-size: 50px;
  line-height: 68px;
  font-weight: 800;
  color: #E4ECF1;
  margin-bottom: 30px;
  padding-right: 20px; }

.header__item-text {
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #C5D2DA;
  padding-right: 20px; }

.header__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -ms-flexbox;
  display: flex; }

.header__item-picture {
  margin-top: -270px;
  display: none; }

.header__item-link {
  position: absolute;
  bottom: 80px;
  height: 40px;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none; }
  .header__item-link span {
    font-size: 18px;
    line-height: 28px;
    /* identical to box height, or 156% */
    text-decoration: none;
    padding-left: 17px;
    margin-top: 16px;
    color: #FFFFFF; }

.header__item {
  width: 34%;
  padding-top: 40px;
  padding-left: 60px;
  position: relative;
  height: 730px;
  border-left: 1px solid rgba(196, 196, 196, 0.1);
  border-right: 1px solid rgba(196, 196, 196, 0.1); }
  .header__item:hover {
    background: #ffffff;
    -webkit-transition: 0.2s;
    transition: 0.2s; }
    .header__item:hover .header__item-picture {
      display: block;
      -webkit-transition: 0.2s;
      transition: 0.2s; }
    .header__item:hover .header__item-title {
      color: #1E2C3B;
      -webkit-transition: 0.2s;
      transition: 0.2s; }
    .header__item:hover .header__item-text {
      color: #1E2C3B;
      -webkit-transition: 0.2s;
      transition: 0.2s; }
    .header__item:hover .header__item-link span {
      color: #000000;
      font-weight: 700;
      -webkit-transition: 0.2s;
      transition: 0.2s; }
    .header__item:hover .header__item-link svg circle {
      fill: #38AAF6;
      -webkit-transition: 0.2s;
      transition: 0.2s; }

.header__item-picture img {
  width: 100%; }

@media (max-width: 1700px) {
  .header__item-title {
    font-size: 40px;
    line-height: 120%; }
  .header__item-picture img {
    width: 100%; } }

@media (max-width: 1400px) {
  .header__item-title {
    font-size: 30px;
    line-height: 120%; } }

@media (max-width: 1200px) {
  .header__wrapper {
    padding: 0 27px; }
  .header__item {
    padding-left: 20px; }
  .header__item-title {
    font-size: 25px;
    line-height: 120%;
    padding-right: 20px; }
  .header__item-text {
    padding-right: 20px; } }

@media (max-width: 1023px) {
  .header__list {
    -ms-flex-direction: column;
        flex-direction: column; }
  .header__item {
    width: 100%;
    min-height: 290px;
    height: 100%;
    padding-bottom: 40px;
    border: none; }
    .header__item:hover .header__item-picture {
      display: none; }
  .header__item-link {
    bottom: 0;
    position: relative; }
  .header__content {
    margin-top: 40px;
    padding-bottom: 50px; } }

.breadcrumbs {
  color: #8C9398;
  font-family: "Uni Neue", "Arial", sans-serif;
  font-size: 14px;
  line-height: 19px;
  font-weight: 700;
  margin-top: 88px;
  display: -ms-flexbox;
  display: flex;
  padding-left: 5px; }

.breadcrumbs__item {
  text-decoration: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: #8C9398;
  margin-right: 15px; }
  .breadcrumbs__item:hover {
    -webkit-transition: 0.2s;
    transition: 0.2s;
    opacity: 0.7; }
  .breadcrumbs__item:active {
    color: #8C9398; }

.breadcrumbs__item--home {
  position: relative;
  background: url("../img/home.svg") no-repeat;
  width: 18px;
  height: 18px; }
  .breadcrumbs__item--home span {
    display: none; }

.breadcrumbs__divider {
  margin-right: 15px; }

.tabs {
  height: 70px; }

.tabs__wrapper {
  height: 100%; }

.tabs__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  height: 100%; }

.tabs__item {
  font-family: "Uni Neue", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #B7B7B7;
  margin-right: 40px; }
  .tabs__item a {
    position: relative;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    cursor: pointer;
    white-space: nowrap; }
    .tabs__item a:hover {
      -webkit-transition: 0.2s;
      transition: 0.2s;
      opacity: 0.7; }
  .tabs__item--active {
    color: #151515; }
    .tabs__item--active a::after {
      position: absolute;
      content: "";
      width: 100%;
      top: 45px;
      height: 3px;
      background-color: #38AAF6;
      left: 0; }
  @media (max-width: 767px) {
    .tabs__item {
      margin-right: 20px; } }

.news {
  background-color: #F4F4F4; }

.news__wrapper {
  max-width: 1200px;
  padding: 0;
  margin: 0 auto;
  padding-bottom: 120px; }

.news__list {
  margin: 0;
  padding: 0;
  padding-top: 50px;
  list-style: none;
  max-width: 1200px;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 45px;
  display: none; }
  .news__list--active {
    display: -ms-flexbox;
    display: flex; }

.news__item {
  width: 282px;
  height: 400px;
  margin-right: 24px;
  background-color: #ffffff;
  margin-bottom: 24px; }
  .news__item:first-child {
    width: 588px; }
    .news__item:first-child .news__text {
      padding-right: 239px;
      padding-left: 35px; }
    .news__item:first-child img {
      width: 100%;
      height: auto; }
  .news__item:nth-child(4n-1) {
    margin-right: 0; }
  .news__item--nodisplay {
    display: none; }

.news__title {
  font-family: "Uni Neue", "Arial", sans-serif;
  font-size: 18px;
  line-height: 25px;
  color: #000000;
  font-weight: 700; }

.news__date {
  font-family: "Uni Neue", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #B7B7B7;
  margin-bottom: 10px; }

.news__text {
  padding-left: 25px;
  padding-right: 25px; }

.news__link {
  text-decoration: none; }

.news__btn {
  border: none;
  width: 228px;
  height: 60px;
  background: #38AAF6;
  border-radius: 2px;
  font-family: "Uni Neue", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
  margin: 0 auto;
  display: block; }

@media (max-width: 1250px) {
  .news__wrapper {
    max-width: 900px; }
  .news__item:nth-child(4n-1) {
    margin-right: 24px; }
  .news__item:nth-child(3n-1) {
    margin-right: 0; } }

@media (max-width: 1023px) {
  .news__wrapper {
    max-width: 588px; }
  .news__item:nth-child(4n-1) {
    margin-right: 24px; }
  .news__item:nth-child(3n-1) {
    margin-right: 24px; }
  .news__item:nth-child(2n+1) {
    margin-right: 0; } }

@media (max-width: 767px) {
  .news__wrapper {
    max-width: 100%; }
  .news__list {
    margin: 0 auto;
    width: 280px;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -ms-flex-direction: column;
        flex-direction: column; }
  .news__item {
    width: 100%;
    max-width: 280px;
    margin-right: 0; }
    .news__item:nth-child(4n-1) {
      margin-right: 0; }
    .news__item:nth-child(3n-1) {
      margin-right: 0; }
    .news__item img {
      width: 100%;
      max-width: 280px;
      height: 200px;
      -o-object-fit: cover;
         object-fit: cover; }
  .news__text {
    padding-right: 10px;
    padding-left: 10px; }
  .news__item:first-child .news__text {
    padding-right: 10px;
    padding-left: 10px; } }

.page-news .header__wrapper {
  min-height: 300px;
  background: url("../img/header-news.png") no-repeat 100% 100%;
  mix-blend-mode: lighten; }

.page-news .header {
  min-height: 300px; }

.page-cat .header__wrapper {
  min-height: 709px;
  background: -webkit-gradient(linear, left bottom, left top, from(#007DD6), to(#007DD6)), -webkit-gradient(linear, left bottom, left top, from(#29A5F8), to(#29A5F8)), radial-gradient(40.65% 86.72% at 27.68% 13.28%, #233745 0%, #0F181E 100%);
  background: linear-gradient(0deg, #007DD6, #007DD6), linear-gradient(0deg, #29A5F8, #29A5F8), radial-gradient(40.65% 86.72% at 27.68% 13.28%, #233745 0%, #0F181E 100%);
  color: #ffffff;
  padding: 0 18.6%; }

.page-cat .header {
  min-height: 709px;
  background: -webkit-gradient(linear, left bottom, left top, from(#007DD6), to(#007DD6)), -webkit-gradient(linear, left bottom, left top, from(#29A5F8), to(#29A5F8)), radial-gradient(40.65% 86.72% at 27.68% 13.28%, #233745 0%, #0F181E 100%);
  background: linear-gradient(0deg, #007DD6, #007DD6), linear-gradient(0deg, #29A5F8, #29A5F8), radial-gradient(40.65% 86.72% at 27.68% 13.28%, #233745 0%, #0F181E 100%); }

.page-cat .breadcrumbs {
  color: #58B3F3; }

.page-cat .breadcrumbs__item {
  text-decoration: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: #58B3F3;
  margin-right: 15px; }
  .page-cat .breadcrumbs__item:hover {
    -webkit-transition: 0.2s;
    transition: 0.2s;
    opacity: 0.7; }

.page-cat .breadcrumbs__item--home {
  background: url("../img/home-light.svg") no-repeat; }

@media (max-width: 1919px) {
  .page-cat .header__wrapper {
    padding: 0 10%; } }

.catalog {
  display: -ms-flexbox;
  display: flex; }

.catalog__title {
  max-width: 282px;
  margin-top: 0;
  margin-right: 2.5%;
  color: #ffffff;
  padding-left: 0; }

.catalog__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 35px;
  padding-top: 8px; }

.catalog__list-item {
  width: 290px;
  margin-right: 12px; }

.catalog__sublist {
  padding: 0;
  margin: 0;
  list-style: none;
  width: 100%; }

.catalog__sublist-item {
  margin-bottom: 15px;
  width: 100%; }

.catalog__sublist-title h3 {
  font-style: "Uni Neue", "Arial", sans-serif;
  font-weight: 800;
  font-size: 26px;
  line-height: 35px;
  color: #FFFFFF;
  margin-bottom: 0;
  max-width: 200px; }

.catalog__sublist-title {
  margin-bottom: 15px; }
  .catalog__sublist-title--one {
    padding-top: 26px; }

.catalog__link {
  font-style: "Uni Neue", "Arial", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
  text-decoration: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  width: 100%; }
  .catalog__link:hover {
    -webkit-transition: 0.2s;
    transition: 0.2s;
    opacity: 0.7; }

@media (max-width: 1400px) {
  .catalog__list-item {
    width: 30%;
    max-width: 400px;
    margin-right: 20px; }
  .catalog {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column; }
  .catalog__title {
    max-width: 100%; } }

@media (max-width: 1023px) {
  .catalog__list {
    margin: 0 auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 700px;
    -ms-flex-pack: justify;
        justify-content: space-between; }
  .catalog__list-item {
    width: 290px; }
    .catalog__list-item:nth-child(2n) {
      margin-right: 0; } }

@media (max-width: 767px) {
  .catalog__title {
    margin-bottom: 30px; }
  .catalog__list {
    margin: 0 auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 300px;
    -ms-flex-pack: justify;
        justify-content: space-between; }
  .catalog__list-item {
    width: 100%;
    margin-right: 0; } }
